.main-container {
  display: grid;
  margin: 0 auto;
  width: 70%;
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

p {
  display: inline-block;
  text-wrap: wrap;
}

/* Helps removing the line behind the box heading text */
span {
  background-color: var(--background0);
  padding: 0 1ch;
}

.box-heading {
  font-weight: 900;
  font-size: 22px;
}

/* Cards and CardsList styling here */

.row {
    display: flex;
    flex-direction: row;
}

.user-profile-container {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 180px;
}

.date {
    font-size: 14px;
}

.post-meta-container {
    flex: 1;
    min-width: none;
    text-wrap: wrap;
}

.post-title {
    font-size: 18px;
}

.column {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  margin-top: 1.5rem;
}

.btns-container {
  margin-top: 1ch;
  display: flex;
  gap: 1rem;
}

.btns-container > .read-more-btn,
.btns-container > .edit-btn,
.btns-container > button,
.dialog-delete-btn {
  background-color: var(--gb-aqua);
  color: var(--background0);
  font-size: 1rem;
  line-height: var(--line-height);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 2ch;
  text-decoration: none;
  cursor: pointer;
}

.btns-container > button:hover,
.btns-container > .read-more-btn:hover,
.btns-container > .edit-btn:hover,
.dialog-delete-btn:hover,
.delete-btn:hover {
  text-decoration: underline;
  font-weight: bold;
}

.btns-container .delete-btn,
.btns-container .reset-btn,
.btns-container .dialog-delete-btn {
  background-color: var(--gb-orange); 
}

.edit-btn,
.dialog-cancel-btn {
  background-color: var(--gb-aqua);
}

#dialog #content {
  padding: 1.5rem 1rem;
}

/* Stylying for hero section */
.hero-section {
  color: var(--gb-green);
}

.hero-section > p {
  color: var(--gb-green);
}

.username {
  color: var(--gb-blue);
  cursor: pointer;
}

.username:hover {
  text-decoration: underline;
}

details {
  margin-top: 1rem;
  cursor: pointer;
}

form {
  padding: 0.8rem 0;
}

.widget {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  margin-bottom: 1rem;
}

.widget > input {
  padding: 1rem 0;
}


.blog-container {
  padding: 0 2ch;
  margin: 0;
}

.blog-title {
  font-size: 1.75rem;
}

.blog-subtitle {
  margin-top: 0.5ch;
  font-size: 1.25rem;
  color: var(--foreground1);
}

.blog-username {
  width: 100%;
  padding: 0;
  font-size: 0.875rem;
}

.divider {
  height: 2px;
  color: var(--foreground0);
  background: var(--foreground0);
  border: 0;
  margin: 2rem 0;
}

.blog-content {
  white-space: pre-line;
}


/* Styles for Create blog form */

.create-blog-form {
  padding: 0 1.5ch;
  width: 100%;
}

.create-blog-form > .widget {
  width: 100%;
}

.create-blog-form > .widget > input {
  padding: 2ch 1ch;
}

.title,
.subtitle,
.content {
  color: var(--gb-blue);
  font-weight: bold;
}

textarea {
  resize: none;
  padding: 1ch;
}