.main-container {
  display: grid;
  margin: 0 auto;
  width: 70%;
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

p {
  display: inline-block;
  text-wrap: wrap;
}

/* Helps removing the line behind the box heading text */
span {
  background-color: var(--background0);
  padding: 0 1ch;
}

.box-heading {
  font-weight: 900;
  font-size: 22px;
}

/* Cards and CardsList styling here */

.row {
    display: flex;
    flex-direction: row;
}

.user-profile-container {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 180px;
}

.date {
    font-size: 14px;
}

.post-meta-container {
    flex: 1;
    min-width: none;
    text-wrap: wrap;
}

.post-title {
    font-size: 18px;
}

.column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    margin-top: 1.5rem;
}

.read-more-btn,
.btns-container > button {
    margin-top: 1ch;
    cursor: pointer;
    background-color: var(--foreground0);
    color: var(--background0);
    font-size: 1rem;
    line-height: var(--line-height);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0 2ch;
    text-decoration: none;
}

.read-more-btn:hover,
.btns-container > button:hover {
    text-decoration: underline;
    font-weight: bold;
}

/* Stylying for hero section */
.hero-section {
  color: var(--gb-green);
}

.hero-section > p {
  color: var(--gb-green);
}

.username {
  color: var(--gb-blue);
  cursor: pointer;
}

.username:hover {
  text-decoration: underline;
}

details {
  margin-top: 1rem;
  cursor: pointer;
}

form {
  padding: 0.8rem 0;
}

.widget {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  margin-bottom: 1rem;
}

.btns-container {
  display: flex;
  gap: 1rem;
}

.btns-container button {
  cursor: pointer;
  margin-top: 0;
}

.widget > input {
  padding: 1rem 0;
}


.blog-container {
  padding: 0 2ch;
  margin: 0;
}

.blog-title {
  font-size: 2.5ch;
}

.blog-subtitle {
  margin-top: 0.5ch;
  font-size: 1.8ch;
  color: var(--foreground0);
}

.blog-username {
  width: 100%;
  padding: 0;
}

.divider {
  height: 2px;
  color: var(--foreground0);
  background: var(--foreground0);
  border: 0;
  margin: 2ch 0;
}

.blog-content {
  white-space: pre-line;
}