.main-container {
  display: grid;
  margin: 0 auto;
  width: 70%;
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

p {
  display: inline-block;
  text-wrap: wrap;
}

/* Helps removing the line behind the box heading text */
span {
  background-color: var(--background0);
  padding: 0 1ch;
}

.box-heading {
  font-weight: 900;
  font-size: 22px;
}

/* Cards and CardsList styling here */

.row {
    display: flex;
    flex-direction: row;
}

.user-profile-container {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 180px;
}

.date {
    font-size: 14px;
}

.post-meta-container {
    flex: 1;
    min-width: none;
    text-wrap: wrap;
}

.post-title {
    font-size: 18px;
}

.column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    margin-top: 1.5rem;
}

.read-more-btn,
.btns-container > button {
    margin-top: 1ch;
    cursor: pointer;
}

.read-more-btn:hover,
.btns-container > button:hover {
    text-decoration: underline;
    font-weight: bold;
}

/* Stylying for hero section */
.hero-section {
  color: var(--gb-green);
}

.hero-section > p {
  color: var(--gb-green);
}

.username {
  color: var(--gb-blue);
  cursor: pointer;
}

.username:hover {
  text-decoration: underline;
}

details {
  margin-top: 1rem;
  cursor: pointer;
}

form {
  padding: 0.8rem 0;
}

.widget {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  margin-bottom: 1rem;
}

.btns-container {
  display: flex;
  gap: 1rem;
}

.btns-container button {
  cursor: pointer;
  margin-top: 0;
}

.widget > input {
  padding: 1rem 0;
}